<h1>API Access token
  <%= link_to 'Back', organizations_path, class: 'btn btn-default pull-right' %>
</h1>
<p>All our API end points are secred using an access token. Use the following token to access your data securely.</p>
<h4><strong>Access token: </strong><%= @api_key.access_token %></h4>